<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> 
</head>
<body>
    <header>
        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/projects/' | relative_url }}">Research</a>
            <a href="{{ '/publications/' | relative_url }}">Publications</a>
            <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
            <a href="{{ '/about' | relative_url }}">About</a>
            <!-- <a href="{{ '/blog/' | relative_url }}">Blog</a> -->
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>
            <span style="text-align:left;">"There is a theory which states that if ever anyone discovers exactly what the Universe is for and why it is here, it will instantly disappear and be replaced by something even more bizarre and inexplicable. There is another theory which states that this has already happened."</span><span style="text-align: right;">-- Douglas Adams</span>
        </p>
        <p style="text-align: center;">&copy; {{ site.time | date: '%Y' }} {{ site.title }} |
            Last updated: {{ site.time | date: '%B %d, %Y' }}</p>
    </footer>
</body>
</html>